html {
  font-family: Arial;
  color: #4c4c4c;
}
body {
  padding: 8px;
}
button {
  cursor: pointer;
}
td {
  border: none;
}
li {
  margin-bottom: 12px;
}
.labeledItem {
  display: inline-block;
  margin: 0 8px 8px 0;
}
